body{
    background-image: url(https://wallpaperaccess.com/full/37638.jpg);
    text-align: center ;
    text-transform : uppercase;
    color : #00ff15;
      }
      button{
          background-color: #00ff15;
      }